{% load static%}

<!-- JQuery -->
<script src="{% static 'js/jquery.min.js' %}"></script>

<!--Bootstrap js -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<!--easing js -->
<script src="{% static 'js/jquery.easing.min.js' %}"></script>

<!--mixitup js -->
<script src="{% static 'js/jquery.magnific-popup.js' %}"></script>

<!--Owl Carousel js -->
<script src="{% static 'js/owl.carousel.js' %}"></script>

<!--Validator js -->
<script src="{% static 'js/validator.js' %}"></script>

<!--contact js -->
<script src="{% static 'js/contact.js' %}"></script>

<!--bootstrap -->
<script src="{% static 'js/wow.min.js' %}"></script>

<!--theme js -->
<script src="{% static 'js/main.js' %}"></script>
